@font-face {
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: url(RacingSansOne-Regular.woff) format('woff'), url(RacingSansOne-Regular.ttf) format('opentype');
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:24px;
  height:100%;
  margin:0;
  padding:0;
  width:100%;
  box-sizing: border-box;
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -ms-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  -moz-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  -ms-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

img {
  vertical-align: text-bottom;
}

header {
  position: relative;
  height: 3em;
}

footer {
  text-align: center;
}

h1, h2 {
  font-family: Racing Sans One;
  margin: 0;
}

h1 {
  text-align: left;
  font-size: 2em;
}

h1 img {
  height: 2rem;
  vertical-align: middle;
}


.chart {
  background-color: black;
}

.chart path {
  stroke-width:1px;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

header .chart {
  position: absolute;
  height: 3em;
  width: 100%;
}

header h1 {
  color: white;
  position: absolute;
  left: 1rem;
}

h2 {
  font-size: 1em;
}

.banner {
  margin: 0;
  padding: 0.25em 0;
  text-align: center;
  background-color: #0b0;
  color: white;
}

input {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

#buttons {
  margin: 16px 8px;
  font-size: 0;
  text-align: center;
}

.shoe-button {
  width: 18%;
  padding: 2%;
  margin: 1.5%;
}

.shoe-button.active {
  outline: 4px solid gold;
  border-radius: 8px;
}
